@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap");

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
	font-family: "Lexend Deca", "Inter", "sans-serif";
}
span {
	color: hsl(277, 64%, 61%);
}

body,
html {
	background-color: hsl(233, 47%, 7%);
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-weight: 700;
}
.container {
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	width: 100%;
}

/* card content styles */
.card-content {
	padding: 50px;
	background-color: hsl(244, 38%, 16%);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
}
.card-content p {
	margin: 13px 0 50px 0;
	color: hsla(0, 0%, 100%, 0.75);
	font-size: smaller;
}

/* card image styles */
.card-image-desktop {
	background: url(/images/image-header-desktop.jpg);
	background-size: cover;
	width: 100%;
	padding-right: 150px;
	position: relative;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	filter: contrast(200%);
}
.overlay-desktop {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	border-radius: inherit;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: hsl(277, 64%, 61%);
	opacity: 0.5;
}

/* Statistics bar */
.stat-bar {
	display: flex;
	flex-direction: row;
}
.stat-bar ul {
	list-style: none;
	margin-right: 30px;
}

.stat-bar .stat-bar-stat {
	color: hsl(0, 0%, 100%);
	font-size: large;
	margin-bottom: 2px;
}
.stat-bar .stat-bar-heading {
	color: hsla(0, 0%, 100%, 0.75);
	text-transform: uppercase;
	font-size: smaller;
}
/* media queries for mobile screens
 */
@media (max-width: 480px) {
	.container {
		flex-direction: column;
		width: 80%;
	}

	/* card image styles for mobile */
	.card-image-mobile {
		background: url(/images/image-header-mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 120px;
		position: relative;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		filter: contrast(200%);
	}
	.overlay-mobile {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		border-radius: inherit;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		background-color: hsl(277, 64%, 61%);
		opacity: 0.5;
	}

	/* code to hide the image of desktop  */
	.card-image-desktop {
		display: none;
	}

	/* card-content for mobile */
	.card-content {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		text-align: center;
	}
	.card-content p {
		margin: 50px 0 50px 0;
	}

	/* statistics-bar */
	.stat-bar {
		flex-direction: column;
		margin-left: 22px;
	}
	.stat-bar .stat-bar-heading {
		margin-bottom: 12px;
	}
}
